<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
 (function() {
     var enableCookies = function() {
         window['ga-disable-G-Z4D97PJZGX'] = false;
     }
     var disableCookies = function() {
         window['ga-disable-G-Z4D97PJZGX'] = true;
     }
     window.addEventListener("load", function(){
         window.cookieconsent.initialise({
             "palette": {
                 "popup": {
                     "background": "#f2f1ec"
                 },
                 "button": {
                     "background": "#8ec760",
                     "text": "#ffffff"
                 }
             },
             "theme": "edgeless",
             "type": "opt-out",
             "content": {
                 "href": "/privacy.html"
             },

             onInitialise: function (status) {
                 var type = this.options.type;
                 var didConsent = this.hasConsented();
                 if (type == 'opt-in' && didConsent) {
                     enableCookies();
                 }
                 if (type == 'opt-out' && !didConsent) {
                     disableCookies();
                 }
             },

             onStatusChange: function(status, chosenBefore) {
                 var type = this.options.type;
                 var didConsent = this.hasConsented();
                 if (type == 'opt-in' && didConsent) {
                     enableCookies();
                 }
                 if (type == 'opt-out' && !didConsent) {
                     disableCookies();
                 }
             },

             onRevokeChoice: function() {
                 var type = this.options.type;
                 if (type == 'opt-in') {
                     disableCookies();
                 }
                 if (type == 'opt-out') {
                     enableCookies();
                 }
             }

         })});
 })(window);
</script>
