<p>
  I'm preparing a workshop to help you learn how to get the most from
  pair programming, if you're starting now or want to improve the way
  you work with your colleagues please sign up to the newsletter to
  keep you informed.
</p>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#eee8d5; clear:left; font:14px Helvetica,Arial,sans-serif; }
    #mc_embed_signup input{text-shadow:none;}
</style>
<div id="mc_embed_signup">
<form action="https://mrdias.us17.list-manage.com/subscribe/post?u=5d763b2a9b2fb35ef9b2cc455&amp;id=da74371800" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to my mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5d763b2a9b2fb35ef9b2cc455_da74371800" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
