<div class="module rss">
  <h2>
    Subscribe
  </h2>
  <ul>
    <li>
      <a href="{{ site.feed_url }}" class="feed-link">RSS</a>
    </li>
  </ul>
</div>
<div class="module tags">
  <h2>
    Tags
  </h2>
  <div id="tag-cloud">
    {{ site | tag_cloud }}
  </div>
</div>
<div class="module github">
  <h2>Github</h2>
  <h3>Last Active Repos</h3>
  <ul id="gh_repos">
  </ul>
  <script>
   var github = {
     success: function(response) {
       var repos = [];
       var length = response.data.length >= 10 ? 10: response.data.length
       for (var i = 0; i < length; i++) {
         repos.push(response.data[i]);
       }
       github.render(repos);
     },
     render: function(repos) {
       var i = 0,
       fragment = '',
       target = 'gh_repos';
       t = document.getElementById(target);

       for (i = 0; i < repos.length; i++) {
         fragment += '<li><a href="' + repos[i].html_url + '">' + repos[i].name + '</a><p>' + (repos[i].description || '') + '</p></li>';
       }
       t.innerHTML = fragment;
     }
   }
  </script>
  <script src="https://api.github.com/users/diasjorge/repos?sort=pushed&type=public&callback=github.success"></script>
</div>
