<div class="module rss">
  <h2>
    Subscribe
  </h2>
  <div>
    <a href="{{ site.feed_url }}" class="feed-link">RSS</a>
  </div>
</div>
<div class="module tags">
  <h2>Tags</h2>
  <div id="tag-cloud">
    {{ site | tag_cloud }}
  </div>
</div>
<div class="module github">
  <h2>Github</h2>
  <h3>Last Active Repos</h3>
  <ul id="gh_repos">
  </ul>
</div>
<div class="module twitter">
  <h2>Twitter</h2>
  <h3>Recent Activity</h3>
  <div>
    <span class="tacTwitterTimelines"></span><a class="twitter-timeline" data-dnt="true" href="javascript:void(0)" data-widget-id="398762448485744640" data-chrome="noheader nofooter noscrollbar transparent" data-border-color="#D0D0D0" data-tweet-limit="5" data-width="auto" data-link-color="#b58900"></a>
  </div>
</div>
