@import "skeleton/base";
@import "solarized-css/solarized-light";
@import "highlight";

a {
  color: #b58900;
  text-decoration: none;
  &:hover, &:visited {
    text-decoration: none;
    color: #b58900;
  }
}

#sidebar {
  .cloud-wrap li {
    display: inline;
    margin: 0.1em;
  }
}

header {
  position: relative;
  #toplinks {
    position: absolute;
    top: 0;
    right: 0;
  }
  #title {
    display: block;
    h1 {
      margin-bottom: 0.1em;
    }
    h1, h2 {
      font-size: 2.8em;
    }
  }
}

#sidebar {
  .module {
    h3 {
      font-size: 1.4em;
    }
    p {
      margin-bottom: 0.25em;
    }
  }
}

figure {
  margin-bottom: 0.75em;
}

.entrydate {
  font-size: 0.9em;
}

.article {
  margin-top: 0.5em;
  &:nth-child(1) {
    margin-top: 0em;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #sidebar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto)
  }

  .module {
    &.rss, &.tags {
      grid-row: 1;
      grid-column: 1;
    }
    &.tags {
      padding-top: 6em;
    }
  }
}

@media (min-width: 768px) {
  header {
    h1 {
      &:after {
        content: ' | ';
        color: #b58900;
      }
    }
    h1, h2 {
      display: inline;
    }
    #title {
      margin-bottom: 0.5em;
    }
  }
  .content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto)
  }

  #content {
    grid-column: 1/3;
  }
}
