// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass

@import compass/utilities/lists.sass

@import partials/_border-radius.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body.bp")
+blueprint-scaffolding("body.bp")
body.bp
  +blueprint-utilities
  +blueprint-debug

form.bp
  +blueprint-form

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.three-col
  #container
    +container
  #header, #footer
    +column(!blueprint_grid_columns)
  #sidebar
    !sidebar_columns = floor(!blueprint_grid_columns / 4)
    +column(!sidebar_columns, true)
  #content
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    !content_columns = ceil(3 * !blueprint_grid_columns / 4)
    // true means it's the last column in the row
    +column(!content_columns)

!link_color  = "#4088b8"
!dark_color  = "#666666"
!light_color = "#f0f0f0"

html
  font-size: 10px

body.main
  font-size: 1.2em
  a
    text-decoration: none
    color = !link_color
      
    &:hover
      text-decoration: underline
      color = !link_color
    &:visited
      color = !link_color

  h2
    border-bottom =  "4px solid" !light_color
    color = !dark_color

    &.title
      font-size: 3em

  #header
    h1
      font-size: 4.5em
      color = !link_color
      margin: 0
      a
        color: inherit
          
        &:hover
          text-decoration: none
    h4
      margin-bottom: 0.5em
    
    #toplinks
      float: right
    
  #sidebar
    div.module
      border = "4px solid" !light_color
      margin-bottom: 1.5em
      +border-radius("7px")
      background-color: #f9f9f9
      ul
        +no-bullets
        margin: 0
        padding: 0.2em 0.5em
        
        li
          margin-bottom: 0.25em
          a
            font-weight: bold
            &.feed_link
              padding: 0 0 0 19px
              background: url("../images/feed-icon-14x14.png") no-repeat 0 50%
      
      h2
        background-color = !light_color
        color = !dark_color
        margin-bottom: 0em
      
      div.cloud_wrap
        padding: 0.2em 0.5em
        ul
          +inline-list
          li
            margin-right: 0.2em
  
  ul.posts
    +no-bullets
    margin-left: 0
    margin-right: 0

  .article
    margin-bottom: 1.5em
    p
      margin: 0 0 0.5em 0

    div.header
      border-bottom =  "4px solid" !light_color
      margin-bottom: 0.75em

      h2
        border: 0
        margin-bottom: 0
        font-size: 2em

    div.content
      font-size: 130%

      .article-comments
        float: right
        font-size: 0.8em

    div.highlight
      font-size: 85%
        
      pre
        background-color = !light_color
        overflow-x: auto
        
    
  #github-badge
    font: inherit
    padding: 0
    background-color: inherit
    h2
      span.title
        font: inherit
    a
      background-color: inherit
      color = !link_color
      &.more
        padding: 0.2em 0.5em

    .footer
      padding: 0.2em 0.5em
    
    .repos
      .public
        border: 0
        background-color: inherit
        a
          background-color: inherit
      
  .highlight
    pre
      +border-radius("7px")      
      padding: 5px 10px