// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body.bp")
+blueprint-scaffolding("body.bp")
body.bp
  +blueprint-utilities
  +blueprint-debug

form.bp
  +blueprint-form

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.three-col
  #container
    +container
  #header, #footer
    +column(!blueprint_grid_columns)
  #sidebar
    !sidebar_columns = floor(!blueprint_grid_columns / 4)
    +column(!sidebar_columns, true)
  #content
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    !content_columns = ceil(3 * !blueprint_grid_columns / 4)
    // true means it's the last column in the row
    +column(!content_columns)

!link_color = "#4088b8"
!dark_color = "#666666"
!light_color = "#dadada"
!font_colro = "#404040"

body.main
  color = !font_color
  
  a
    text-decoration: none
    color = !link_color
      
    &:hover
      text-decoration: underline
    &:visited
      color = !link_color

  h2
    border-bottom =  "4px solid" !light_color
    color = !dark_color

  #header
    h1
      color = !link_color
      a
        color: inherit
    h4
      color = !font_color
    
    #toplinks
      float: right
    
  #sidebar
    h2
      color = !dark_color

  .article
    div.header
      border-bottom =  "4px solid" !light_color
      margin-bottom: 0.75em

      h2
        border: 0
        margin-bottom: 0

    div.content
      font-size: 130%

    div.highlight
      font-size: 85%
      overflow-x: auto
      margin-top: -1em
    
  #github-badge
    font: inherit
    h2
      span.title
        font: inherit
    a
      color = !link_color