// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass

@import compass/utilities/lists.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body.bp")
+blueprint-scaffolding("body.bp")
body.bp
  +blueprint-utilities
  +blueprint-debug

form.bp
  +blueprint-form

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.three-col
  #container
    +container
  #header, #footer
    +column(!blueprint_grid_columns)
  #sidebar
    !sidebar_columns = floor(!blueprint_grid_columns / 4)
    +column(!sidebar_columns, true)
  #content
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    !content_columns = ceil(3 * !blueprint_grid_columns / 4)
    // true means it's the last column in the row
    +column(!content_columns)

!link_color  = "#4088b8"
!dark_color  = "#666666"
!light_color = "#f0f0f0"

body.main
  
  a
    text-decoration: none
    color = !link_color
      
    &:hover
      text-decoration: underline
      color = !link_color
    &:visited
      color = !link_color

  h2
    border-bottom =  "4px solid" !light_color
    color = !dark_color

  #header
    h1
      font-size: 4.5em
      color = !link_color
      margin: 0
      a
        color: inherit
          
        &:hover
          text-decoration: none
    h4
      margin-bottom: 0.5em
    
    #toplinks
      float: right
    
  #sidebar
    div.module
      border = "4px solid" !light_color
      margin-bottom: 1.5em
      padding-bottom: 0.2em
      ul
        +no-bullets
        margin: 0.1em
        li
          margin-bottom: 0.25em
          border: 1px solid #D8D8D8
          background-color = !light_color
          a
            font-weight: bold
        
      h2
        background-color = !light_color
        color = !dark_color
        margin-bottom: 0.2em

  .article
    margin-bottom: 1.5em
    p
      margin: 0 0 0.5em 0

    div.header
      border-bottom =  "4px solid" !light_color
      margin-bottom: 0.75em

      h2
        border: 0
        margin-bottom: 0

    div.content
      font-size: 130%

    div.highlight
      font-size: 85%
        
      pre
        background-color = !light_color
        overflow-x: auto
        
    
  #github-badge
    font: inherit
    padding: 0
    background-color: inherit
    h2
      span.title
        font: inherit
    a
      background-color: inherit
      color = !link_color