html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

html { font-size: 100.01%; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }

th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

body.bp { line-height: 1.5; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; color: #333333; font-size: 75%; }
body.bp .clear { clear: both; }
body.bp .nowrap { white-space: nowrap; }
body.bp .clearfix { overflow: hidden; *zoom: 1; }
body.bp .small { font-size: 0.8em; margin-bottom: 1.875em; line-height: 1.875em; }
body.bp .large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
body.bp .first { margin-left: 0; padding-left: 0; }
body.bp .last { margin-right: 0; padding-right: 0; }
body.bp .top { margin-top: 0; padding-top: 0; }
body.bp .bottom { margin-bottom: 0; padding-bottom: 0; }
body.bp .showgrid { background: url('/images/grid.png?1336749890'); }
body.bp true .box { padding: 1.5em; margin-bottom: 1.5em; background: #e5ecf9; }
body.bp true div.border { padding-right: 4px; margin-right: 5px; border-right: 1px solid #eeeeee; }
body.bp true div.colborder { padding-right: 24px; margin-right: 25px; border-right: 1px solid #eeeeee; }
body.bp true hr { background: #dddddd; color: #dddddd; clear: both; float: none; width: 100%; height: 0.1em; margin: 0 0 1.45em; border: none; }
body.bp true hr.space { background: #dddddd; color: #dddddd; clear: both; float: none; width: 100%; height: 0.1em; margin: 0 0 1.45em; border: none; background: white; color: white; visibility: hidden; }
body.bp true form.inline { line-height: 3; }
body.bp true form.inline p { margin-bottom: 0; }
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 { font-weight: normal; color: #222222; }
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img { margin: 0; }
body.bp h1 { font-size: 3em; line-height: 1; margin-bottom: 0.50em; }
body.bp h2 { font-size: 2em; margin-bottom: 0.75em; }
body.bp h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1.00em; }
body.bp h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
body.bp h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.50em; }
body.bp h6 { font-size: 1em; font-weight: bold; }
body.bp p { margin: 0 0 1.5em; }
body.bp p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
body.bp p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }
body.bp a { text-decoration: underline; color: #000099; }
body.bp a:visited { color: #000066; }
body.bp a:focus { color: black; }
body.bp a:hover { color: black; }
body.bp a:active { color: #cc0099; }
body.bp blockquote { margin: 1.5em; color: #666666; font-style: italic; }
body.bp strong { font-weight: bold; }
body.bp em { font-style: italic; }
body.bp dfn { font-style: italic; font-weight: bold; }
body.bp sup, body.bp sub { line-height: 0; }
body.bp abbr, body.bp acronym { border-bottom: 1px dotted #666666; }
body.bp address { margin: 0 0 1.5em; font-style: italic; }
body.bp del { color: #666666; }
body.bp pre { margin: 1.5em 0; white-space: pre; }
body.bp pre, body.bp code, body.bp tt { font: 1em "andale mono", "lucida console", monospace; line-height: 1.5; }
body.bp li ul, body.bp li ol { margin: 0; }
body.bp ul, body.bp ol { margin: 0 1.5em 1.5em 0; padding-left: 3.333em; }
body.bp ul { list-style-type: disc; }
body.bp ol { list-style-type: decimal; }
body.bp dl { margin: 0 0 1.5em 0; }
body.bp dl dt { font-weight: bold; }
body.bp dd { margin-left: 1.5em; }
body.bp table { margin-bottom: 1.4em; width: 100%; }
body.bp th { font-weight: bold; }
body.bp thead th { background: #c3d9ff; }
body.bp th, body.bp td, body.bp caption { padding: 4px 10px 4px 5px; }
body.bp tr.even td { background: #e5ecf9; }
body.bp tfoot { font-style: italic; }
body.bp caption { background: #eeeeee; }
body.bp .quiet { color: #666666; }
body.bp .loud { color: #111111; }

form.bp label { font-weight: bold; }
form.bp fieldset { padding: 1.4em; margin: 0 0 1.5em 0; }
form.bp legend { font-weight: bold; font-size: 1.2em; }
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] { margin: 0.5em 0; background-color: white; padding: 5px; }
form.bp input.title { font-size: 1.5em; }
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio { position: relative; top: 0.25em; }
form.bp textarea { margin: 0.5em 0; padding: 5px; }
form.bp select { margin: 0.5em 0; }
form.bp fieldset { border: 1px solid #cccccc; }
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password], form.bp textarea, form.bp select { border: 1px solid #bbbbbb; }
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus, form.bp textarea:focus, form.bp select:focus { border: 1px solid #666666; }
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] { width: 300px; }
form.bp textarea { width: 390px; height: 250px; }

body.three-col #container { width: 950px; margin: 0 auto; overflow: hidden; *zoom: 1; }
body.three-col #header, body.three-col #footer { display: inline; float: left; margin-right: 10px; width: 950px; }
* html body.three-col #header, * html body.three-col #footer { overflow-x: hidden; }
body.three-col #sidebar { display: inline; float: left; margin-right: 0; width: 230px; }
* html body.three-col #sidebar { overflow-x: hidden; }
body.three-col #content { display: inline; float: left; margin-right: 10px; width: 710px; }
* html body.three-col #content { overflow-x: hidden; }

html { font-size: 10px; }

body.main { font-size: 1.2em; }
body.main a { text-decoration: none; color: #4088b8; }
body.main a:hover { text-decoration: underline; color: #4088b8; }
body.main a:visited { color: #4088b8; }
body.main h2 { border-bottom: 4px solid #f0f0f0; color: #666666; }
body.main h2.title { font-size: 3em; }
body.main #header h1 { font-size: 4.5em; color: #4088b8; margin: 0; }
body.main #header h1 a { color: inherit; }
body.main #header h1 a:hover { text-decoration: none; }
body.main #header h4 { margin-bottom: 0.5em; }
body.main #header #toplinks { float: right; }
body.main #sidebar div.module { border: 4px solid #f0f0f0; margin-bottom: 1.5em; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; background-color: #f9f9f9; }
body.main #sidebar div.module ul { list-style: none; margin: 0; padding: 0.2em 0.5em; }
body.main #sidebar div.module ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }
body.main #sidebar div.module ul li { margin-bottom: 0.25em; }
body.main #sidebar div.module ul li a { font-weight: bold; }
body.main #sidebar div.module ul li a.feed_link { padding: 0 0 0 19px; background: url("/images/feed-icon-14x14.png") no-repeat 0 50%; }
body.main #sidebar div.module h2 { background-color: #f0f0f0; color: #666666; margin-bottom: 0em; }
body.main #sidebar div.module div.cloud_wrap { padding: 0.2em 0.5em; }
body.main #sidebar div.module div.cloud_wrap ul { list-style-type: none; }
body.main #sidebar div.module div.cloud_wrap ul, body.main #sidebar div.module div.cloud_wrap ul li { margin: 0px; padding: 0px; display: inline; }
body.main #sidebar div.module div.cloud_wrap ul li { margin-right: 0.2em; }
body.main ul.posts { list-style: none; margin-left: 0; margin-right: 0; padding-left: 0; }
body.main ul.posts li { list-style-image: none; list-style-type: none; margin-left: 0px; }
body.main .article { margin-bottom: 1.5em; }
body.main .article p { margin: 0 0 0.5em 0; }
body.main .article div.header { margin-bottom: 0.75em; position: relative; }
body.main .article div.header h2 { margin-left: 75px; margin-bottom: 0; padding-left: 16px; line-height: 1.1em; }
body.main .article div.header h2 a { color: inherit; }
body.main .article div.header .entrydate { background-color: #f0f0f0; border: 6px solid #f0f0f0; border-top-left-radius: 7px; -moz-border-radius-topleft: 7px; -webkit-border-top-left-radius: 7px; border-top-right-radius: 7px; -moz-border-radius-topright: 7px; -webkit-border-top-right-radius: 7px; width: 75px; text-align: center; position: absolute; bottom: 0; }
body.main .article div.content { font-size: 130%; clear: both; }
body.main .article div.content .article-comments { float: right; font-size: 0.8em; }
body.main .article div.highlight { font-size: 85%; }
body.main .article div.highlight pre { background-color: #f0f0f0; overflow-x: auto; }
body.main #github-badge { font: inherit; padding: 0; background-color: inherit; }
body.main #github-badge h2 span.title { font: inherit; }
body.main #github-badge a { background-color: inherit; color: #4088b8; }
body.main #github-badge a.more { padding: 0.2em 0.5em; }
body.main #github-badge .footer { padding: 0.2em 0.5em; }
body.main #github-badge .repos .public { border: 0; background-color: inherit; }
body.main #github-badge .repos .public img { display: none; }
body.main #github-badge .repos .public a { background-color: inherit; padding-left: 2px; }
body.main .highlight pre { border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; padding: 5px 10px; }
