<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8"/>
    <meta name="description" content="Mr. Dias. Software Development Thoughts"/>
    <meta name="author" content="Jorge Dias"/>

    <!-- Mobile Specific Metas
         ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <!-- CSS
         ================================================== -->
    <link rel="stylesheet" href="/stylesheets/main.css"/>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <link rel="alternate" type="application/rss+xml" title="Articles RSS" href="{{ site.feed_url }}" />
    <link rel="openid.server" href="http://www.myopenid.com/server"/>
    <link rel="openid.delegate" href="http://theturingmachine.myopenid.com/"/>
  </head>
  <body>
    <div class="container">
      <div id="header" class="sixteen columns">
        <div id="toplinks">
          <a href="http://github.com/diasjorge">On Github</a> |
          <a href="http://twitter.com/dias_jorge">On Twitter</a>
        </div>
        <h1><a href="/">Mr. Dias</a></h1>
        <h4>Software Development Thoughts</h4>
      </div>
      <div id="content" class="two-thirds column">
        {{ content }}
      </div>
      <div id="sidebar" class="one-third column">
        {% include _sidebar.html %}
      </div>
      <div id="footer" class="sixteen columns">
        &copy; 2012 Jorge Dias
      </div>
      {% include _analytics.html %}
      {% include _disqus.html %}
    </div>
  </body>
</html>
