---
layout: default
---
<div class="article">
 <h2>
   {{ page.title }}<br />
   <span class="entrydate">{{ page.date | date_to_string }}</span>
 </h2>
  {{ content }}
</div>
<script type="text/javascript">
    var disqus_url = "http://.github.com/mrdias/{{ post.url }}"; var disqus_title ="{{ post.title }}";
    var disqus_developer = 1;
</script>
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/mrdias/embed.js"></script>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
<script type="text/javascript">
    //<![CDATA[
    (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
          if(links[i].href.indexOf('#disqus_thread') >= 0) {
            query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
          }
        }
        document.write('<script type="text/javascript" src="http://disqus.com/forums/mrdias/get_num_replies.js' + query + '"></' + 'script>');
    })();
    //]]>
</script>