---
layout: default
---
<div class="article">
  <div class="header">
    <h2>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h2>
  </div>
  <div class="content">
    {{ content }}
  </div>
  <div class="metadata">
    <p class="author vcard">
      <span class="name">Jorge Dias</span><time pubdate class="published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
    </p>
    <ul class="tags">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}/tags/{{tag}}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div id="disqus_thread"></div>
